<app-header></app-header>

<div class="p-d-flex p-jc-center">
  <p-table [value]="tasks" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-task
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="task">
        <td>
          {{ task.id }}
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                [id]="'task-title-' + task.id"
                pInputText
                type="text"
                [(ngModel)]="task.title"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.title }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                [id]="'task-description-' + task.id"
                pInputText
                type="text"
                [(ngModel)]="task.description"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.description }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [id]="'task-status-' + task.id"
                [options]="taskStatusList"
                [(ngModel)]="task.status"
                [style]="{ width: '100%' }"
              ></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.status }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <button
            [id]="'task-delete-button-' + task.id"
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            (click)="onRowDelete(task.id)"
            class="p-button-rounded p-button-text"
          ></button>
          <button
            [id]="'task-edit-button-' + task.id"
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(task)"
            class="p-button-rounded p-button-text"
          ></button>
          <button
            [id]="'task-confirm-edit-button-' + task.id"
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(task)"
            class="p-button-rounded p-button-text p-button-success p-mr-2"
          ></button>
          <button
            [id]="'task-cancel-edit-button-' + task.id"
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(task)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
