<p-menubar>
  <button
    id="header-create-task-button"
    type="button"
    pButton
    label="CreateTask"
    icon="pi pi-plus"
    (click)="onCreateTask()"
    class="p-mr-2"
  ></button>
  <button
    id="header-logout-button"
    type="button"
    pButton
    label="Logout"
    icon="pi pi-power-off"
    (click)="onLogout()"
    class="p-mr-2"
  ></button>
</p-menubar>
