<h2 style="text-align: center">Create a task</h2>
<div class="p-d-flex p-jc-center">
  <div class="p-formgroup-inline">
    <div class="p-field">
      <label for="title" class="p-sr-only">Title</label>
      <input
        id="title"
        type="text"
        pInputText
        placeholder="title"
        [(ngModel)]="title"
      />
    </div>
    <div class="p-field">
      <label for="description" class="p-sr-only">Description</label>
      <input
        id="description"
        type="text"
        pInputText
        placeholder="description"
        [(ngModel)]="description"
      />
    </div>
    <button
      id="create-task-confirm-button"
      pButton
      type="button"
      label="Create"
      (click)="onSubmit()"
      class="p-mr-2"
      [disabled]="!title || !description"
    ></button>
    <button
      id="create-task-cancel-button"
      pButton
      type="button"
      label="Cancel"
      (click)="onCancel()"
      class="p-mr-2"
    ></button>
  </div>
</div>
