<div class="p-d-flex p-jc-center">
  <div class="p-formgroup-inline">
    <div class="p-field">
      <label for="username" class="p-sr-only">Username</label>
      <input
        id="username"
        type="text"
        pInputText
        placeholder="username"
        [(ngModel)]="username"
      />
    </div>
    <div class="p-field">
      <label for="password" class="p-sr-only">Password</label>
      <input
        id="password"
        type="password"
        pInputText
        placeholder="password"
        [(ngModel)]="password"
      />
    </div>
    <button
      id="login-button"
      pButton
      type="button"
      label="Login"
      (click)="login()"
      class="p-mr-2"
    ></button>
    <button
      id="signup-button"
      pButton
      type="button"
      label="Signup"
      (click)="onSignup()"
      class="p-mr-2"
    ></button>
  </div>
</div>
<div class="p-d-block p-text-center text-error" *ngIf="error">
  {{ error }}
</div>
